.modal,
.validate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba($border-image, 0.5);
    &_active {
        display: flex;
    }
    &-dialog {
        position: relative;
        margin: auto;
        max-width: 450px;
        width: 90%;
        min-width: 200px;
        background-color: $border-input;
        padding: 40px;
        &__close {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}