$main-color: #FFD200;
$text-color: #333333;
$price-subtitle: 'MuseoSansCyrl-100';
$subtitle-description-font: 'MuseoSansCyrl-300';
$title-font: 'MuseoSansCyrl-700';
$border-input: #dddddd;
$background-secondary: #F7F7F7;