$main-color: #FFD200;
$text-color: #333333;
$border-outline: #FF0000;
$border-image: #000000;
$border-card: #E8E8E8;
$border-card-price: rgba(0, 0, 0, 0.1);
$border-card-price-before: rgba(255, 255, 255, 0);
$border-input: #DDDDDD;
$background-secondary: #F7F7F7;