* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

@keyframes moveLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@mixin title {
    font-family: $title-font;
    color: $text-color;
    line-height: 1.458;
}

@mixin subtitle {
    font-family: $subtitle-description-font;
    color: $text-color;
    line-height: 1.2;
}

@mixin block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 90px 0px;
    &-title {
        text-align: center;
        @include title;
    }
    &-subtitle {
        text-align: left;
        @include subtitle;
    }
    .list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .list-item {
        display: flex;
    }
}

.container {
    width: 1170px;
    margin: auto;
}

@media (max-width:1200px) {
    .container {
        width: 760px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 580px;
        width: 95%;
    }
}

@media (max-width:420px) {
    .container {
        width: 85%;
    }
    .hero,
    .footer,
    .brif,
    .portfolio,
    .price,
    .registration,
    .repair-stages {
        padding: 60px 0px;
        &__subtitle {
            line-height: 1.2;
            font-size: 14px;
        }
        &__title {
            line-height: 1.2;
            font-size: 18px;
        }
        &__form-title {
            line-height: 1.2;
            font-size: 18px;
        }
        &__form-subtitle {
            line-height: 1.2;
            font-size: 14px;
        }
    }
}

.input {
    border: 1px solid $border-input;
    border-radius: 10px;
    font-size: 15px;
    padding: 20px 26px;
    outline: none;
    &:focus {
        border: 1px solid $main-color;
    }
}

.button {
    border-radius: 10px;
    background-color: $main-color;
    border: none;
    padding: 18px 30px;
    &:hover {
        background-color: lighten($main-color, 10%);
        cursor: pointer;
    }
}

.swipe-up {
    width: 60px;
    height: 60px;
    position: fixed;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    right: 50px;
    img {
        height: 34px;
        max-width: 34px;
    }
}

@media (min-width:768px) {
    .button {
        &:hover {
            background-color: lighten($main-color, 10%);
            cursor: pointer;
        }
        .swipe-up {
            &:hover {
                animation: pulse;
                animation-duration: 3s;
            }
        }
    }
}

@media (max-width:768px) {
    .swipe-up {
        padding: 0;
        bottom: 30px;
        right: 30px;
        max-width: 50px;
        height: 50px;
        img {
            height: 30px;
            max-width: 30px;
        }
    }
}

@media (max-width:420px) {
    .swipe-up {
        padding: 0;
        bottom: 20px;
        right: 20px;
        max-width: 40px;
        height: 40px;
        img {
            height: 27px;
            max-width: 27px;
        }
    }
}

#hero__list-item-1,
#brif__list-item-1 {
    animation: fadeIn;
    animation-duration: 1.0s;
}

#hero__list-item-2,
#brif__list-item-2 {
    animation: fadeIn;
    animation-duration: 2.5s;
}

#hero__list-item-3,
#brif__list-item-3 {
    animation: fadeIn;
    animation-duration: 4.0s;
}

#hero__list-item-4,
#brif__list-item-4 {
    animation: fadeIn;
    animation-duration: 5.0s;
}

.invalid {
    border: 1px solid $border-outline;
}

#username-error,
#phone-error,
#email-error {
    border: none;
    color: $border-outline;
    margin: 0 auto;
    margin-bottom: 10px;
}

.registration__form {
    #username-error,
    #phone-error {
        position: absolute;
    }
}